@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap");

body {
	font-family: Poppins, sans-serif;
	margin-top: 100px;
}

button {
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
}

.buttons {
	margin-top: 100px;
}

.yes-btn {
	margin-right: 10px;
	background-color: green;
	color: #fff;
	font-size: 24px;
}

.no-btn {
	margin-left: 10px;
	background-color: red;
	color: #fff;
	font-size: 24px;
}

.yes-btn:hover,
.no-btn:hover {
	cursor: pointer;
}
